@model SGRH.Web.Models.ViewModels.VacationViewModel

@{
    ViewData["Title"] = "Solicitud de Vacaciones";
}
<hr />
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center"><strong>Formulario para Solicitud de Vacaciones</strong></h3>
                </div>
                <form method="post" asp-action="RequestVacation" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label">Sale del:</label>
                            <input asp-for="StartDate" id="startDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label">Hasta el:</label>
                            <input asp-for="EndDate" id="endDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Descripción de solicitud:</label>
                            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comments" class="control-label">Comentarios adicionales:</label>
                            <textarea asp-for="Comments" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Enviar Solicitud" class="btn btn-success m-2" />
                            <a href="javascript:history.back()" class="btn btn-secondary m-2">Volver</a>
                            <!-- Botón para abrir el modal -->
                            <button type="button" class="btn btn-info m-2" data-toggle="modal" data-target="#vacationBalanceModal">
                                Ver Saldo Actual
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="vacationBalanceModal" tabindex="-1" role="dialog" aria-labelledby="vacationBalanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vacationBalanceModalLabel">Días disponibles para vacaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenedor para cargar el saldo -->
                <div id="vacationBalanceContent" class="text-center">
                    <p class="display-2" id="vacationDays"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#vacationBalanceModal').on('show.bs.modal', function () {
                $.ajax({
                    url: '@Url.Action("VacationsBalanceAJAX", "Vacations")',
                    type: 'GET',
                    success: function (data) {
                        if (data.success) {
                            $('#vacationDays').text(data.balance);
                        } else {
                            $('#vacationDays').text("Error: " + data.message);
                        }
                    },
                    error: function () {
                        $('#vacationDays').text('Error al cargar el saldo de vacaciones.');
                    }
                });
            });

            // Validación para startDate y endDate que no permitan seleccionar fechas anteriores al día actual
            $('#startDate').on('blur', function () {
                var startDate = new Date(this.value);
                var today = new Date();
                if (startDate < today) {
                    showErrorAlert('La fecha de salida no puede ser anterior al día de hoy.');
                    this.value = '';
                }
            });

            $('#endDate').on('blur', function () {
                var endDate = new Date(this.value);
                var today = new Date();
                if (endDate < today) {
                    showErrorAlert('La fecha de regreso no puede ser anterior al día de hoy.');
                    this.value = '';
                }
            });
        });
    </script>
}