@{
    ViewData["Title"] = "Contraseña restablecida con éxito";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-4 text-center">
            <h2 class="mb-4">Contraseña restablecida con éxito</h2>
            <p class="lead mb-4">
                Tu contraseña se ha restablecido correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.
            </p>
            <a href="~/Account/Login" class="btn btn-primary btn-lg btn-block">Ir al inicio de sesión</a>
        </div>
    </div>
</div>
