@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Restablecer Contraseña";
    ViewBag.NombreUbicacion = "Resetear Contraseña";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center text-info">@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2">
                        <label asp-for="UserName" class="form-label">Correo Electrónico</label>
                        <input id="UserName" asp-for="UserName" class="form-control" placeholder="Ingrese el correo electrónico" readonly />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="TemporaryPassword" class="form-label">Contraseña Temporal</label>
                        <input asp-for="TemporaryPassword" placeholder="Ingrese la contraseña temporal" class="form-control" />
                        <span asp-validation-for="TemporaryPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label">Nueva Contraseña</label>
                        <input asp-for="NewPassword" placeholder="Ingrese la nueva contraseña" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                        <input asp-for="ConfirmPassword" placeholder="Confirme la nueva contraseña" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function updateHiddenField() {
        var userName = document.getElementById("UserName").value;
        document.getElementById("userNameHiddenField").value = userName;
    }

    function validateForm() {
        var userName = document.getElementById("UserName").value;
        if (userName.trim() === "") {
            showErrorAlert("Por favor, ingrese un correo electrónico.");
            return false;
        }
        return true;
    }
</script>